<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauseLabSuite" parallel="none">

  
    <test name="LoginTest">
        <classes>
            <class name="Tests.TestLogin"/>
        </classes>
    </test>
    <test name="ProductsTest">
        <classes>
            <class name="Tests.TestProduct"/>
        </classes>
    </test>
</suite>
